.recipe {

}

	.recipe__image {
		aspect-ratio: 16 / 9;
		background-color: var(--color-grey-300); // fallback while image is loading
		border-radius: 8px;
		overflow: hidden;
		margin-bottom: 40px;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}


.recipe__ingredients {
	margin-bottom: 40px;

	label {
		display: flex;
		cursor: pointer;
	}
    li {
        margin-bottom: 12px;

        // &::before {
            // content: "-";
            // margin-right: 6px;
        // }
    }
}

.recipe__ingredient {
	// font-size: 1.25em;
	display: flex;
	gap: 8px;
	align-items: center;
	margin-bottom: 4px;

	input {
		height: 1.5em;
		width: 1.5em;
	}

	input:checked + span {
		text-decoration: line-through;
	}
}

.recipe__servings-input {
	width: 100px;
}

.recipe__meta {
    margin-bottom: 24px;
}
