.recipe {
	@extend .l-container;
}

	.recipe__image {
		aspect-ratio: 16 / 9;
		background-color: var(--color-grey-300); // fallback while image is loading
		border-radius: 8px;
		overflow: hidden;
		margin-bottom: 40px;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}


.recipe__ingredients {
	margin-bottom: 40px;

	label {
		display: flex;
		cursor: pointer;
	}
    li {
        margin-bottom: 12px;

        // &::before {
            // content: "-";
            // margin-right: 6px;
        // }
    }
}

.recipe__ingredient {
	// font-size: 1.25em;
	display: flex;
	gap: 8px;
	align-items: center;
	margin-bottom: 4px;

	input {
		height: 1.5em;
		width: 1.5em;
	}

	input:checked + span {
		text-decoration: line-through;
	}
}

.c-recipe__additional-info {
    margin-bottom: 30px;

    svg {
        margin-right: 6px;
        fill: var(--color-grey-900);
    }
}

.c-recipe__servings-input {
	width: 100px;
}

.c-recipe__recipe-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include mq(medium) {
        display: grid;
        grid-template-columns: 400px 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas:
            "ingredients tags"
            "ingredients instructions";
    }
}

.recipe__tags {
    margin-bottom: 24px;
    // display: flex;
    // flex-wrap: wrap;
    // gap: 12px;
}
