{% extends 'layouts/base.njk' %}

{% block content %}
	<script>
		document.addEventListener('alpine:init', () => {
			Alpine.store('recipe', {
				servings: {{ servings if not servings == "" else 1 }},
				original_servings: {{ servings if not servings == "" else 1 }},
				orignal_ingredients: {{ ingredients | dump | safe }},

				adaptQuantity(ingredient) {
					return ingredient.replace(/(\d|\.|,)+/, match => Number(Math.round(parseFloat(match) * this.servings / this.original_servings + 'e' + 2) + 'e-' + 2));
				},

				get ingredients() {
					return this.orignal_ingredients.map(ingredient => this.adaptQuantity(ingredient));
				}
			});
		})
	</script>

	<div class="recipe" x-data>
		<a href="/">← Return to all recipes</a>

		<h1 class="recipe__heading">{{ title }}</h1>

		<div class="recipe__tags">
			<div class="tag-list">
				{% for tag in tags %}
					<a class="tag-list__tag" href="/tags/{{ tag | noEmoji | slug }}">{{ tag }}</a>
				{% endfor %}
			</div>
		</div>

		{% if image %}
			<div class="recipe__image">
				{% recipeimage image, null, title, "100vw" %}
			</div>
		{% endif %}

		{# <div class="c-recipe__instructions-wrapper u-free-text">
			{% if sourceLabel and sourceURL %}
				<p>Source : <a href="{{ sourceURL }}" target="_blank" rel="noopener">{{ sourceLabel }}</a></p>
			{% endif %}
		</div> #}

		{% if time or not servings == "" %}
			<div class="c-recipe__additional-info">
				{% if time %}
					<p>{% include "icons/time.svg" %}{{ time }}</p>
				{% endif %}
				{% if not servings == "" %}
					<p>
						<input
							type="number"
							x-model="$store.recipe.servings"
							class="c-recipe__servings-input"
						>
						<span>{{ servingsUnit }}</span>
					</p>
				{% endif %}
			</div>
		{% endif %}

		<h2>{{ site.ingredientsLabel }}</h2>

		<div class="recipe__ingredients">
			<template x-for="(ingredient, index) in $store.recipe.ingredients" :key="index">
				<label class="recipe__ingredient">
					<input type="checkbox" />
					<span x-text="ingredient" />
				</label>
			</template>
		</div>

		<h2>Method</h2>

		{{ content | safe }}
	</div>
{% endblock %}
