{% extends 'layouts/base.njk' %}

{% block content %}
	{% if selectedTag %}
		<a href="/">← Return to all recipes</a>
	{% endif %}

	<h1>{{ selectedTag }}{{ title }}</h1>

	<div class="recipe__meta">
		{% include 'components/taglist.njk' %}
	</div>

	{% for recipe in collections.recipes %}
		{% if not selectedTag or selectedTag in recipe.data.tags %} {# If we don't have a selectedTag, we are on the all recipes page #}
			<div class="recipe-card">
				<h2 class="recipe-card__title">
					<a href="{{ recipe.url }}">{{ recipe.data.title }}</a>
				</h2>
				<div class="recipe-card__meta">
					<p class="recipe__tags">
						Tags:

						{% for tag in recipe.data.tags %}
							<a href="/tags/{{ tag | slug }}">{{ tag }}</a>
						{% endfor %}
					</p>

					{% if recipe.data.time %}
						<p>Time: {{ recipe.data.time }}</p>
					{% endif %}
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
