:root {
	--primary-colour: #32816e;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;

	padding-block: 32px;
	padding-inline: 16px;
    margin-inline: auto;

    max-width: 900px;
	width: 100%;
}

// The x-cloak attribute is automatically removed from elements when Alpine initializes. They should not be visible before then to avoid flickering content
[x-cloak] {
    display: none !important;
}

a {
    color: var(--primary-colour);
    text-decoration: underline 2px;
    text-underline-offset: 2px;

    &:hover, &:focus {
        outline: none;
        text-decoration: none;
    }

    &:focus-visible {
        outline: 2px solid var(--primary-colour);
    }
}

button {
    cursor: pointer;
}

input {
	accent-color: var(--primary-colour);
}
